:root {
    --primary-color: #86b3d1;
    --secondary-color: #aaa0a0;
    --tertiary-color: #474853;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 400px 100px;
    grid-template-areas: "h h h h h h h h h h h h" "m c c c c c c c c c c c" "f f f f f f f f f f f f";
}

.header {
    display: flex;
    justify-content: space-between;
    grid-area: h;
    background-color: var(--primary-color);
}

.header h1 {
    padding: 20px;
    margin: 20px;
    font-size: 30px
}

.header nav {
    justify-content: space-between;
    margin: 10px;
}

.header nav ul {
    display: flex;
    padding: 20px;
    margin: 10px
}

.header li {
    list-style: none;
    margin-right: 35px;
    font-size: 22px;
    font-weight: bold;
}

.header a {
    text-decoration: none;
    color: black;
}

.menu {
    grid-area: m;
}

.content {
    grid-area: c;
}

.footer {
    grid-area: f;
}