:root {
    --primary-color: #86b3d1;
    --secondary-color: #aaa0a0;
    --tertiary-color: #474853;
}

body {
    background-color: var(--tertiary-color);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 300px 300px 300px 300px 500px;
    grid-template-areas: 
    "h h h h h h h h h h h h"
    "hero hero hero hero hero hero hero hero hero hero hero hero"
     "m c c c c c c c c c c c"
     "m c c c c c c c c c c c" 
     "m c c c c c c c c c c c"  
     "f f f f f f f f f f f f";
}

.header {
    display: flex;
    justify-content: space-between;
    grid-area: h;
    background-color: var(--primary-color);
}

.header h1 {
    padding: 20px;
    margin: 10px;
    font-size: 40px;
}

.header nav {
    justify-content: space-between;
    margin: 10px;
}

.header nav ul {
    display: flex;
    padding: 20px;
    margin: 10px
}

.header li {
    list-style: none;
    margin-right: 35px;
    font-size: 22px;
    font-weight: bold;
}

.header a {
    text-decoration: none;
    color: black;
}

.hero {
    grid-area: hero;
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: left bottom;
    width: 100%;
}

.hero h2 {
    color: white;
    text-align: center;
    margin-top: 120px;
    font-size: 40px;
    text-shadow: -3px -2px 2px rgba(0, 151, 150, 1);
}

.menu {
    grid-area: m;
}

.menu h2 {
    
}

.content {
    grid-area: c;
}

.about-me-col {
    text-align: center;
    margin: 150px;
    font-weight: bold;
    font-size: 30px;
}

.about-me-row {
    grid-area: c;
    margin: 10px;
}

.projects-col {
    text-align: center;
    padding: 100px;
    margin: 100px;
    font-weight: bold;
    font-size: 30px;
}

.projects-row {

}

.contact-col {
    text-align: center;
    margin: 150px;
    font-weight: bold;
    font-size: 30px;
}

.contact-row {

}

.footer {
    grid-area: f;
}

.footer h3 {
    margin: 30px auto 30px 20px;
}